/* global */
* {
    margin: 0;
    padding: 0;
    font-family: 'DM Serif Display';
}
a {
    text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: blue;
}
a:active, a:visited {
    color: black;
}
.main-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}






/* header */
.header {
    padding: 50px 0;
}
.header .header-main {
    height: 120px;
    display: flex;
    align-items: center;
}
.header .header-main .header-avatar img {
    width: 80px;
    height: 80px;
}
.header .header-main .header-title {
    font-size: 40px;
    padding-left: 20px;
}

.header .header-menu {
    font-size: 28px;
}





/* main */







/* footer */








