<head>
    <% 
        let title = page.title;
        if (is_archive()) {
            title = page.category;
        } else if (is_archive()) {
            title = __('archive');
            if (is_month()) {
                title += ': ' + page.year + '/' + page.month;
            } else if (is_year()) {
                title += ': ' + page.year;
            }
        } else if (is_category()) {
            title = __('category') + ': ' + page.category;
        } else if (is_tag()) {
            title = __('tag') + ': ' + page.tag;
        }
    %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        <% if (title) { %>
            <%= title %> |
        <% } %>
        <%= config.title %>
    </title>

</head>