.header {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}
.header .header-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.header .header-main .header-avatar .avatar {
    width: 120px;
    height: 120px;
    margin-bottom: 24px;
    border-radius: 50%;
}
.header .header-main .header-title {
    font-size: 32px;
    /* font-weight: bold;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace; */
}
.header .header-menu {
    padding: 16px;
    margin: 0 auto;
    /* font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace; */
    /* font-weight: bold; */
    font-size: 16px;
    margin: 4px 8px;
}



.header-top {
    max-width: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    transform: translate(0, -100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    backdrop-filter: blur(5px);
}
.header-top .header-main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.header-top .header-main .header-avatar {
    padding: 6px 24px;
    height: 48px;
}
.header-top .header-main .header-avatar .avatar {
    width: 48px;
    height: 48px;
    border-radius: 25%;
}
.header-top .header-main .header-title {
    font-size: 24px;
    font-weight: bold;
    /* font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace; */
    font-family: Consolas;
}
.header-top .header-menu {
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    font-weight: bold;
    font-size: 16px;
    margin: 4px 8px;
}

.header-full {
    transform: translate(0, 0);
    transition: transform 0.3s linear;
}
.transition {
    transition: transform 0.3s linear;
}