main {
    max-width: 800px;
    margin: 0 auto;
}

.home-posts {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home-posts .post-item {
    width: 100%;
    text-align: center;
}

.home-posts .post-title {
    padding: 24px 0 12px;
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 0.02em;
    line-height: 1.42;
}

.home-posts .post-info {
    color: #5E5E5E;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    letter-spacing: 0.05em;
    padding-bottom: 24px;
}

.pager {
    max-width: 800px;
    position: relative;
    display: flex;
    justify-content: space-between;
    font-family: monospace, "Courier New", Courier;
    font-size: 24px;
    font-weight: bold;
    padding-top: 48px;
    padding-bottom: 60px;
}
.pager .prev {
    padding: 0 120px;
    transition: 0.3s transform;
}
.pager .next {
    padding: 0 120px;
    transition: 0.3s transform;
}
.pager .prev:hover {
    transform: translateX(-8px);
}
.pager .next:hover {
    transform: translateX(8px);
}



.post-detail .post-content a {
    text-decoration: underline;
}
.post-detail .post-title {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    padding: 24px 0;
    letter-spacing: 0.02em;
}
.post-detail .post-info {
    font-size: 12px;
    padding-bottom: 24px;
    text-align: center;
}

.post-detail .post-content {
    font-size: 18px;
}
.post-detail .post-content p {
    margin-bottom: 1.12em;
    letter-spacing: 0.05em;
}
.post-detail .post-content h1,h2,h3,h4,h5,h6 {
    margin: 16px 0;
    padding-top: 16px;
}